:root {
   --brand-color: #2196F3;
   --background-color-secondary: #2F303A;
   --text-color-primary: #212121;
   --text-color-secondary: #757575;
   --text-color-invert: #FFFFFF;
   --line-height-114: calc(16 / 14);
   --line-height-117: calc(42 / 36);
   --line-height-118: calc(19 / 16);
   --line-height-119: calc(31 / 26);
   --line-height-136: calc(60 / 44);
   --line-height-162: calc(26 / 16);
   --line-height-171: calc(24 / 14);
   --line-height-188: calc(30 / 16);
 }

 body {
   background: #FFFFFF;
   color: var(--text-color-primary);
   font-family: Roboto, sans-serif;
 }

 h1, h2, h3, p, ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 img {
   display: block;
   width: 100%;
 }

 a {
   text-decoration: none;
 }

 address {
   font-style: normal;
 }

 .container {
   margin: 0 auto;
   width: 1200px;
   padding: 0 15px;
 }

/* logo */
 .footer .studio-logo, 
 .header .studio-logo {
   font-family: Raleway, Oleo Script, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: var(--line-height-119);
   letter-spacing: 0.03em;
 }

 .header .studio-logo {
   color: var(--text-color-primary);
 }

 .footer .studio-logo {
   color: var(--text-color-invert);
 }

 .web-logo {
   color: var(--brand-color);
 }

/* header */
 .header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

 .header > .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .main-nav {
   display: flex;
   align-items: center;
   gap: 93px;
 }

 .site-nav {
   display: flex;
   gap: 50px;
 }

 .header a {
   color: var(--text-color-primary);
   font-weight: 500;
   font-size: 14px;
   line-height: var(--line-height-114);
   letter-spacing: 0.02em;
 }

 .header .active {
   color: var(--brand-color);
 }

 .auth-nav {
   display: flex;
   gap: 50px;
 }

 .auth-nav a {
   color: var(--text-color-secondary);
 }

 .auth-nav a:hover,
 .auth-nav a:active {
   color: var(--brand-color);
 }

/* Main Content */
 .section {
   padding-top: 94px;
   padding-bottom: 94px;
 }

 .section-title {
   font-size: 36px;
   line-height: var(--line-height-117);
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
 }

/* hero-section */
 .hero {
   background: var(--background-color-secondary);
   padding: 200px 0;
 }

 .hero > .container {
   width: 696px;
   text-align: center;
 }

 .hero-section-title {
   color: var(--text-color-invert);
   font-weight: 900;
   font-size: 44px;
   line-height: var(--line-height-136);
   letter-spacing: 0.06em;
   text-transform: uppercase;
   margin-bottom: 30px;
 }

 .hero-button {
   border-radius: 4px;
   background: var(--brand-color);
   padding: 10px 32px;
   color: var(--text-color-invert);
   font-weight: 700;
   font-size: 16px;
   line-height: var(--line-height-188);
   letter-spacing: 0.06em;
   cursor: pointer;
 }

/* features-section */
 .features-list {
   display: flex;
   gap: 30px;
 }
 
 .features-title {
   font-size: 14px;
   line-height: var(--line-height-114);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 10px;
 }

 .features-text {
   width: 270px;
   color: var(--text-color-secondary);
   font-size: 14px;
   line-height: var(--line-height-171);
   letter-spacing: 0.03em;
 }

/* project-section */
 .project.section {
   padding-top: 0;
 }
 
 .project-list {
   display: flex;
   gap: 30px;
 }

/* team-section */
 .team {
   background: #F5F4FA;
 }

 .team-list {
   display: flex;
   gap: 30px;
 }

 .team-item {
   width: 270px;
   border-radius: 0px 0px 4px 4px;
   overflow: hidden;
 }

 .team-content {
   padding-top: 30px;
   padding-bottom: 30px;
 }

 .team-title {
   font-weight: 500;
   font-size: 16px;
   line-height: var(--line-height-118);
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 10px;
 }

 .team-text {
   color: var(--text-color-secondary);
   font-size: 16px;
   line-height: var(--line-height-118);
   text-align: center;
   letter-spacing: 0.03em;
 }

/* portfolio-page */
 .portfolio-nav {
   display: flex;
   justify-content: center;
   gap: 8px;
   margin-bottom: 50px;
 }

 .portfolio-button {
   border: none;
   border-radius: 4px;
   background: #F5F4FA;
   padding: 6px 22px;
   text-align: center;
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.03em;
   line-height: var(--line-height-162);
   cursor: pointer;
 }

 .portfolio-button:hover,
 .portfolio-button:active {
   background: var(--brand-color);
   color: var(--text-color-invert);
 }

 .portfolio-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 30px;
 }

 .portfolio-content {
   border: 1px solid #EEEEEE;
   padding: 20px 24px;
 }

 .portfolio-title {
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
 }

.portfolio-text {
   margin-top: 4px;
   color: var(--text-color-secondary);
   font-size: 16px;
   line-height: var(--line-height-188);
   letter-spacing: 0.03em;
 }

/* footer */
 .footer {
   background: var(--background-color-secondary);
   padding: 60px 0;
 }

 .contacts a {
   display:inline-block;
   margin-top: 20px;
   color: var(--text-color-invert);
   font-size: 14px;
   line-height: var(--line-height-171);
   letter-spacing: 0.03em;
 }

 .contacts .contacts-link {
   margin-top: 9px;
   color: rgba(255, 255, 255, 0.6);
 }